@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{ width: 10px; border-radius: 100%;} 
::-webkit-scrollbar-track{ background: #FFF; } 
::-webkit-scrollbar-thumb{ background: #3D4785 ; }
html,
body {
    height: 100%;
    width: 100%;
}
#preLoader{
    background: #fff url(img/Hourglass.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #3D4785;
    padding: 12px 36px;
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    /* background-color: #B85042; */
    transition: 0.15s ease-in-out;
}
.menu a:before{
    content: "";
    position: absolute;
    bottom: -6px;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
.menu a:hover:before{
    transform: scaleX(1);
}
.close-menu i,.open-menu i{
    color:white;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 1200px){
    .menu {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        width: 80vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        backdrop-filter: blur(200px);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
.logo-main{
    display: flex;
    gap: 12px;
}
.logo {
    font-size: 30px;
    font-weight: 600;
    height: 56px;
    display: flex;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    color: #FC3314;
}
.article{
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}
.article h1{
    color: #3D4785;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    padding-top: 32px;
    /* padding-bottom: 32px; */
    text-align: center;
}
.underline{
    height: 5px;
    width: 10px !important;
    border-radius: 20px;
    margin-top: 10px !important;
    background-color: #3D4785;
    margin: auto;
    text-align: center;
    padding: 0 10vw;
    margin-bottom: 32px;
    /* margin-bottom: 32px; */
}
.nav-article{
    display: flex;
    justify-content: space-evenly;
}
.resume{
    width: 256px;
    height: 36px;
    cursor: pointer;
    background-color: #3D4785;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}
.member{
    position: relative;
    width: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
    height: 960px;
}
.member .teamContent{
    position: absolute;
    width: 80vw;
    transform: translateX(100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 36px 10vw;
}
.member #workshop{
    transform: translateX(0);
}
.nav-article #btn1{
    background-color:#3c4ec2d8;
}
.article-box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.article-box span{
    /* text-align: center; */
    /* background-color: #3D4785; */
    color: #3D4785;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 800;
    width: auto;
}
.article-box a{
    background-color: #3D4785;
    width: 200px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    padding: 4px 0;
    border-radius: 10px;
}
.swiper-slide img{
    cursor: pointer;
    transition: transform 1.25s ease;
}
.swiper-slide img:hover{
    opacity: 0.85;
    transform: scale(1.1);
}
.footer{
    width: 100%;
    height: 120px;
    background-color: #3D4785;
    display: flex;
    margin-top: 2px;
    align-items: center;
    justify-content: space-evenly;
}
.footer a li{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    list-style: none;
}
.footer a li:hover{
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
  }
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
/* Media Queries for Mobile View */
/* @media only screen and (max-width:540px){

} */
/* Media Queries for IPad View */
@media only screen and (min-width:0) and (max-width:900px){
    .nav {
        display: flex;
        /* position: fixed; */
        justify-content: space-evenly;
        align-items: center;
        background-color: #3D4785;
        padding: 40px 0px;
        height: 45px;
        width: 100%;
    }
    
    .logo {
        font-size: 24px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        letter-spacing: -1px;
        color: #3D4785;
    }
    
    .navLinks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;
    }
    
    .navLinks a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }
    .logo-main{
        display: flex;
        gap: 24px;
    }
    .logo {
    height: 40px;
    margin-left: -15px;
    font-family: 'Inter', sans-serif;
    }
    .front-logo{
        width: 100%;
        height: 90vh;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .front-logo img{
        position: absolute;
        border-radius: 20px;
        backdrop-filter: blur(10px);
        width: 80vw;
        /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    }
    video{
        position: absolute;
        object-fit:cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.25;
    }
    .article{
        width: 100%;
        height: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .article h1{
        color: #3D4785;
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        padding-top: 32px;
        /* padding-bottom: 32px; */
        text-align: center;
    }
    .nav-article{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .resume{
        width: 200px;
        height: 36px;
        cursor: pointer;
        background-color: #3D4785;
        display: flex;
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: white;
    }
    .member{
        position: relative;
        width: 100%;
        overflow: hidden;
        /* overflow-y: scroll; */
        height: 720px;
    }
    .member .teamContent{
        position: absolute;
        width: 80vw;
        transform: translateX(100vw);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 36px 10vw;
    }
    .member #projects{
        transform: translateX(0);
    }
    .article-box{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .article-box span{
        /* text-align: center; */
        /* background-color: #3D4785; */
        color: #3D4785;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 800;
        width: auto;
    }
    .article-box a{
        background-color: #3D4785;
        width: 200px;
        color: white;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        text-align: center;
        margin: 10px 0;
        padding: 4px 0;
        border-radius: 10px;
    }
    .footer{
        width: 100vw;
        height: 180px;
        background-color: #3D4785;
        display: flex;
        flex-direction: column;
    }
    .footer img{
       width: 150px;
    }
    .footer {
        font-size: 14px;
        /* margin: 24px 0; */
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: white;
        list-style: none;
    }
}